.profile-navbar-container {
    margin-left: 30px;
    margin-top: 100px;
  }
  
  .profile-navbar {
    margin: 0px 0px 20px 0px;
    list-style-type: none;
    padding: 0;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  
  .profile-navbar-greet {
    padding: 0px 16px;
  }
  
  .profile-navbar-list a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .profile-navbar-list a:active {
    background-color: #2874F0;
    color: white;
  }
  
  .profile-navbar-list a:hover {
    background-color: #555;
    color: #fff;
  }